{% extends 'base.html' %}

{% block main_content %}
    <div class="body">
        <!--headings-->
        <h1>Note Details</h1>
        <!--headings-->
        <!--details note box-->
        <div class="note-details-container">
            <h2>{{ note_object.title }}</h2>
            <img class="detail-img" src="{{ note_object.image_url }}" alt="note-image" />
            <div>
                <p>Content</p>
            </div>
            <p>
                {{ note_object.content }}
            </p>
            <div class="right">
                <a class="button edit" href="{% url 'edit note page' pk=note_object.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete note page' pk=note_object.pk %}">Delete</a>
            </div>
        </div>
        <!--end details note box-->
    </div>
{% endblock %}
